*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans
}

 body{
    color: #ebebeb;
 }

 .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
 }

 .logo{
    font-size: 40px;
    color: #ebebeb;
    position: relative;
    text-decoration: none;
    font-weight: 600;
 }

 .logo::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
   height: 100%;
background: #000;
animation: showRight 1s ease forwards;
animation-delay: 0.4ms;
z-index: 2;
 }

 .navbar::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
   height: 100%;
background: #000;
animation: showRight 1s ease forwards;
animation-delay: 0.3ms;
z-index: 2;
 }
   
 .navbar a {
    font-size: 25px;
    color: #ebebeb;
    text-decoration: none;
   margin-left: 35px;
    font-weight: 500;
 }

 .navbar a:hover,.navbar a.active{
   color: #00abf0;
 } 


 .home{
    height: 100vh;
    background: url("image.folder/port.11.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
 }

 .home::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
   height: 100%;
background: #000;
animation: showRight 1s ease forwards;
animation-delay: 0.7ms;
z-index: 2;
 }

 .home-content{
    max-width: 600px;
 }

 .home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
 }

 .home-content h1::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
   height: 100%;
background: #000;
animation: showRight 1s ease forwards;
animation-delay: 1s;
z-index: 2;
 }

 .home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #cf3476 ;
 }

 .home-content h3::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
   height: 100%;
background: #000;
animation: showRight 1s ease forwards;
animation-delay: 1.3s;
z-index: 2;
 }
 .home-content p{
    font-size: 16px;
    position: relative;
    margin: 20px 0px ;
   }
   .home-content p::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
     width: 100%;
      height: 100%;
   background: #000;
   animation: showRight 1s ease forwards;
   animation-delay: 1.6s;
   z-index: 2;
   }

  .home-content .btn-box{
    
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
 }

.home-content .btn-box::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
   height: 100%;
background: #000;
animation: showRight 1s ease forwards;
animation-delay: 1.7s;
z-index: 2;
}
 .btn-box a{
   position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    text-decoration: none;
    font-size: 19px;
    color: #081b29;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden; 
    transition: .5s;
 }
   
 .btn-box a:hover{
    color:#00abf0;
 }
 .btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
 }

 .btn-box a:nth-child(2):hover{
    color: #081b29;
 }
 .btn-box a:nth-child(2)::before{
   background: #00abf0;
    color:#00abf0;
 }

 .btn-box a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
   width: 0;
    height: 100%;
 background: #081b29;
  z-index: -1;
  transition: 0.5s;
 }

 .btn-box a:hover::before{
    width: 100%;
 }

 .home-icons{
    position: absolute;
    bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
   }

   .home-icons::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
     width: 100%;
      height: 100%;
   background: #000;
   animation: showRight 1s ease forwards;
   animation-delay: 1s;
   z-index: 2;
   }
   
   .home-icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background:transparent;
    border: 2px solid #00abf0;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    color:#00abf0;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden; 
    transition: .5s;
   }

   .home-icons a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
   width: 0;
    height: 100%;
 background: #00abf0;
  z-index: -1;
  transition: 0.5s;
   }
     
 .home-icons a:hover{
    color:#081b29;
 }

   .home-icons a:hover::before{
    width: 100%;
 }  

 /* Animation Keyframes*/

 @keyframes showRight{
   100%{
      width: 0%;
   }
 }


 